@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 251, 251, 254;
  --text: 5, 3, 22;
  --primary: 122, 109, 142;
  --secondary: 230, 168, 101;
  --accent: 88, 0, 133;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 1, 1, 4;
    --text: 234, 233, 252;
    --primary: 127, 114, 146;
    --secondary: 154, 91, 25;
    --accent: 211, 122, 255;
  }
}

body {
  color: rgba(var(--text), 1);
  background: rgba(var(--background), 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
